@charset "UTF-8";

/* =========================================
   このファイルに回答を記述してください。
   ========================================= */

/* 例: 特定の要素を赤くするスタイルは以下のように記述してください*/

/* 
  ヒント:
  #q1 .container > [ここにセレクタ] {
      background-color: #ff5252;
      color: white;
      font-weight: bold;
  }
*/

#q1 .container {}

#q2 .container {}

#q3 .container {}

#q4 .container {}

#q5 .container {}

#q6 .container {}

#q7 .container {}

#q8 .container {}

#q9 .container {}

#q10 .container {}